
/* Your CSS Code here. */
.continer{
	display:flex;
	justify-content:center;
	align-items:center;
	border-top-width:2px;
}
.box{
	background-color:lightblue;
	padding:auto;
	border:2px solid black;
	width:250px;
	height:200px;
	margin-top:150px;
}
.data{
	padding:80px;
	color:purple;
	font-style:sandybrown;
}